body {
    background-image: url('./Images/adeolu-eletu-E7RLgUjjazc-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.accordion-item {
    background: rgb(238, 156, 156);
    /* Fallback color */
    background: rgba(250, 247, 255, 0) !important;
    /* Black background with 0.5 opacity */
    color: #f1f5f7 !important;
    /* width: 100%; */
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.logo {
    background: rgba(235, 226, 226, 0.177);
    /* Fallback color */
    /* background: rgba(40, 38, 43, 0.2) !important; */
    height: 200px;
    width: 200px;
    padding: 0;
}

.accordion-button {
    background-color: rgba(0, 0, 0, 0.18) !important;
    color: rgb(247, 241, 241) !important;
    font-weight: 750 !important;
    text-shadow: 1px 1px 3px #000000;

}

.headlines {
    font-family: 'Castoro Titling', cursive !important;
    text-shadow: 2px 3px 10px #634a2f;
}

.H {
    font-size: 2em;
    margin-left: .125em;
}

.accordian {
    --cui-accordion-color: #219811 !important;
    --cui-accordion-bg: #238989 !important;
}

.accordion-body {
    background-color: rgba(70, 62, 75, 0.233) !important;
}